.bg-home {
  background-image: linear-gradient(#4058a831, #4058a82c), url("taxi.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.title-home {
  display: flex;
  justify-content: center;
}
.title {
  margin-bottom: 50px;
  font-size: 3.5rem;
  letter-spacing: 0.04em;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  font-size: 1.2em;
}
.title2 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .title2 {
    font-size: 2.7rem;
  }
  .main-text {
    font-size: 1rem;
  }
}

.btns-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 60px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.number {
  font-size: 2.7rem;
}


.little-bar-center {
  height: 3px;
  width: 60px;
  background-color: #4058A8;
  margin: 65px auto 25px ;
}

.second-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4058A8;
}


.second-text {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #55626A;
  font-family: 'Aleo', serif;
  font-size: 1.3rem;
  margin: 40px auto;
}
@media (max-width: 768px) {
  .second-text {
    width: 85vw;
  }
  .second-text {
    font-size: 1rem;
  }
}

.convention {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.convention-text {
  color: #4058A8;
  margin-bottom: 50px;
}
