.bg-home {
  background-image: linear-gradient(#4058a82d, #4058a821), url("taxi.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.title-home {
  display: flex;
  justify-content: center;
}
.title {
  margin-bottom: 50px;
  font-size: 3.5rem;
  letter-spacing: 0.04em;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  font-size: 1.2em;
}
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .main-text {
    font-size: 1rem;
  }
}



.btns-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 60px;
}

.convention {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
